# rabbtimq
## image origin
rabbitmq_image=rabbitmq:management-alpine
## container
rabbitmq_container_name=rabbitmq
rabbitmq_user=guest
rabbitmq_pass=guest
ampq_host_port=5672
ampq_mgmt_host_port=15672

# javadev
## image building
javadev_dockerfile=javadev.Dockerfile
username=dev
user_uid=1000
user_gid=1000
javadev_image_name=javadev
javadev_image_tag=latest
## container
javadev_container_name=javadev
javadev_userns_mode=keep-id
javadev_hostname=javadev
java_host_port=8080
source_code_path=.

